#!/usr/bin/make -f
# export DH_VERBOSE=1

export LC_ALL=C.UTF-8
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh ${@} --buildsystem cmake \
                --fail-missing \
                --with quilt

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
                -DCMAKE_INSTALL_RPATH="/usr/lib/calamares" \
                -DLIBRARY_INSTALL_BINDIR="/usr/lib/calamares" \
                -DLIB_SUFFIX="/calamares" \

override_dh_fixperms:
	dh_fixperms
	chmod 755 debian/*/*/*/*/*/*/encrypt_hook
	chmod 755 debian/*/*/*/*/*/*/encrypt_hook_nokey

override_dh_makeshlibs:
	# just do nothing
